sentencepiece==0.2.0
torch==2.1.0
datasets==2.21.0       # cannot use 2.5.2 has local files bug!!!!
evaluate==0.4.3
transformers==4.44.2
accelerate==0.34.2
rouge==1.0.1
spacy==3.7.6
nltk==3.9.1
ckiptagger==0.2.1
tqdm==4.66.5
pandas==2.0.3
jsonlines==4.0.0
protobuf==4.25.5
tensorboard
gdown
tensorflow>=1.13.1